@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
